<!DOCTYPE html>
<html>
    <head>
        <title>evernote-django</title>
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/main.css" />
        {% block extrastyle %}
        {{ extrastyle }}
        {% endblock extrastyle %}
    </head>
    <body>
        <div id="header">
        <div class="left">evernote-django</div> 
        {% if user.is_authenticated %}
        <div class="right">Logged in as {{ user.get_full_name }}
            <br/>
            <a href="{% url account.views.logout_page %}">Logout</a>
        </div>
        {% endif %}
        <div class="clearfix"></div>
        </div>
        <div id="wrapper">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% if user.is_authenticated %}
            {% endif %}
            {% block body %}
            {{ body }}
            {% endblock body %}
        </div>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.7.2.min.js">
        </script>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/magic.js">
        </script>
        {% block extrascript %}
        {{ extrascript }}
        {% endblock extrascript %}
    </body>
</html>
