<!DOCTYPE html>
<html>
    <head>
        <title>Evervim</title>
        {% block extrastyle %}
        {{ extrastyle }}
        {% endblock extrastyle %}
    </head>
    <body>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% if user.is_authenticated %}
        <a href="{% url account.views.logout_page %}">Logout</a>
        {% endif %}
        {% block body %}
        {{ body }}
        {% endblock body %}
        <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.7.2.min.js">
        </script>
        {% block extrascript %}
        {{ extrascript }}
        {% endblock extrascript %}
    </body>
</html>
